.productsPage {
  display: flex;
  /* background-image: url("https://img.itch.zone/aW1nLzQ4NzU2MzQucG5n/315x250%23c/4Ti0%2BG.png"); */
  /* background-attachment: fixed; */
}
.pagination2 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
